<%= @letters %>
<form action="/score">
  <input name="letters" type="hidden" value="<%= @letters%>"/>
  <input type="text" name="word">
  <input type="submit" value="What is the longest word you can find?">
</form>
